html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 900px;
  padding: 0;
}

.start-button {
  position: absolute;
  top: 10px;
  left: 100px;
  z-index: 999;
  width: 100px;
  height: 40px;
}

.transition {
  z-index: 999;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

.info {
  position: absolute;
  width: 300px;
  height: 250px;
  z-index: 999;
  top: 100px;
  left: 50px;
  background-color: white;
  padding: 10px;
}
